<html>
    <head>
        <title> Household Information </title>
        <style>
            body{
                background-color: #c9c9c7;
        }
            h1{
                text-align: center;
        }
            h5{
                text-align: right;
                font-weight: 200;
        }
        </style>

    </head>
    <body>
        <br>
        <h1> Summary of Household Information </h1>
        <p> In this page, you will see the the anonymised household information of urban and rural areas. The types of information you will see are Age, Gender, Income, Expenditure and Priority of Expenditure of several households in rural (CHH and KHH regions) and urban (PHH region). The website displays different tables which are paginated, searchable and filterable and containing household informations.</p>
        <br>
        <center> <p style="font-size:20px;", "color:black;"><a href="http://127.0.0.1:5000/householdage">Age Information of Households</a></p> </center>
        <br>
        <center> <p style="font-size:20px;", "color:black;"><a href="http://127.0.0.1:5000/householdgender">Gender Information of Households</a></p> </center>
        <br>
        <center> <p style="font-size:20px;", "color:black;"><a href="http://127.0.0.1:5000/householdincome">Income Information of Households</a></p> </center>
        <br>
        <center> <p style="font-size:20px;", "color:black;"><a href="http://127.0.0.1:5000/householdexpenditure">Expenditure Information of Households</a></p> </center>
        <br>
        <center> <p style="font-size:20px;", "color:black;"><a href="http://127.0.0.1:5000/householdpriorities">Priorities of Expenditure Information of Households</a></p> </center>
    </body>
</html>